doctype html
html(lang="cs")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Seznam cvičení

    block css
      <!-- inject:css -->
      link(rel="stylesheet" href="../assets/css/styles.css")
      <!-- endinject -->
      style.
        html {
          min-height: 100%;
          overflow-y: auto;
        }
        body {
          min-height: 100%;
          display: flex;
          justify-content: center;
          text-align: center;
          overflow-y: auto;
        }
        main {
          padding-top: 1.5rem;
        }
        ul {
          list-style: none;
          padding: 0;
          margin: 0 0 11vh;
        }

    block js

  body
    main
      h1 Seznam cvičení
      ul
        //- inject:pug
        <li><a href="/horakova-rezoluce/">Horáková rezoluce</a></li>
        <li><a href="/horni-vysoke/">Horni vysoke</a></li>
        <li><a href="/hranice/">Hranice</a></li>
        <li><a href="/iwojima/">Iwojima</a></li>
        <li><a href="/kyselka/">Kyselka</a></li>
        <li><a href="/majove-oslavy/">Majove oslavy</a></li>
        <li><a href="/prezident-masaryk-na-fotografii/">Masaryk</a></li>
        <li><a href="/most/">Most</a></li>
        <li><a href="/napalm-girl/">Napalm girl</a></li>
        <li><a href="/skola/">Skola</a></li>
        <li><a href="/tank/">Tank</a></li>
        //- endinject
